<div class="container py-5">
  <div class="row">

    <div class="col-lg-3">
      <h1 class="h2 pb-4">Danh mục</h1>
      <ul class="list-unstyled templatemo-accordion">
        <li (click)="filterAll()" class="pb-3 collapsed d-flex justify-content-between h3 text-decoration-none"
          style="cursor: pointer;">Tất
          cả</li>
        <li *ngFor="let item of cate" class="pb-3">
          <a style="cursor: pointer;" (click)="filterCate(item.id)"
            class=" collapsed d-flex justify-content-between h3 text-decoration-none">
            {{item.name}}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline shop-top-menu pb-3 pt-1">
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" style="cursor: pointer;" (click)="filterAll()">Tất
                cả</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" href="#">Nam</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none" href="#">Nữ</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 pb-4">
          <div class="d-flex">
            <select class="form-control">
              <option disabled selected>Tìm kiếm</option>
              <option>Tên sản phẩm</option>
              <option>Theo giá</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"
          *ngFor="let item of product| paginate: { itemsPerPage: listPage, currentPage: page, totalItems: totalLength }">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="{{item.images}}">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" [routerLink]="'chi-tiet-san-pham/' + item.id"><i
                        class="far fa-eye"></i></a>
                  </li>
                  <li><button class="btn btn-success text-white mt-2" (click)="addToCard(item)"><i
                        class="fas fa-cart-plus"></i></button></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <h5 href="shop-single.html" class="h3 text-decoration-none">{{item.name}}</h5>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <h6 class="text-danger">#{{item.id}}</h6>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">{{item.price | currency}}</p>
            </div>
          </div>
        </div>
      </div>
      <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </ul>
      </div>

    </div>

  </div>
</div>
