<div class="card-body">
  <h4>Cập nhật danh mục</h4>
  <a [routerLink]="'/cp-admin/danh-muc'">Danh sách</a>
  <hr>
  <form [formGroup]="formCate">
    <div class="form-group col-lg-6">
      <label for="exampleInputEmail1">Tên danh mục</label>
      <input [ngModel]="dataCate.name"
        [ngClass]="{'is-invalid': formCate.controls['name'].invalid &&(formCate.controls['name'].touched || formCate.controls['name'].dirty)}"
        formControlName="name" type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập nội dung">
      <div
        *ngIf="formCate.controls['name'].invalid &&(formCate.controls['name'].touched || formCate.controls['name'].dirty)"
        class="invalid-feedback">
        <div>Vui lòng nhập tên danh mục</div>
      </div>
    </div>
    <div class="form-group">
      <button (click)="formCate.valid && onSubmit()" [disabled]="formCate.invalid" class=" btn btn-primary">Lưu</button>
    </div>
  </form>

</div>
