<div class="container py-5">
  <div class="row text-center py-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Sản phẩm yêu thích</h1>
      <p>
        Sản phẩm đang được ưa chuộng nhất tại shop thời điểm hiện tại
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <a href="shop-single.html">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/my-app-7bb3f.appspot.com/o/uploads%2F12.jfif?alt=media&token=e65d3cdf-87ef-4814-b697-46a0e0803a1c"
            class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <ul class="list-unstyled d-flex justify-content-between">
            <li>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-muted fa fa-star"></i>
              <i class="text-muted fa fa-star"></i>
            </li>
            <li class="text-muted text-right">{{100000 | currency}}</li>
          </ul>
          <a href="shop-single.html" class="h2 text-decoration-none text-dark">áo unisex mới nhất 2022</a>
          <p class="card-text">
            Mô tả.
          </p>
          <p class="text-muted">Lượt xem (24)</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <a href="shop-single.html">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/my-app-7bb3f.appspot.com/o/uploads%2F2.jfif?alt=media&token=a70fa475-ab95-4b63-b3cd-cd58743b3414"
            class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <ul class="list-unstyled d-flex justify-content-between">
            <li>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-muted fa fa-star"></i>
              <i class="text-muted fa fa-star"></i>
            </li>
            <li class="text-muted text-right">{{120000 | currency}}</li>
          </ul>
          <a href="shop-single.html" class="h2 text-decoration-none text-dark">áo khoắc kaki mới nhất của 2022</a>
          <p class="card-text">
            Mô tả.
          </p>
          <p class="text-muted">Lượt xem (48)</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <a href="shop-single.html">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/my-app-7bb3f.appspot.com/o/uploads%2F6.jfif?alt=media&token=c38416a9-5701-464f-81eb-391f11129cfd"
            class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <ul class="list-unstyled d-flex justify-content-between">
            <li>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
              <i class="text-warning fa fa-star"></i>
            </li>
            <li class="text-muted text-right">{{100000 | currency}}</li>
          </ul>
          <a href="shop-single.html" class="h2 text-decoration-none text-dark">áo khoắc kaki mới nhất của 2022</a>
          <p class="card-text">
            Mô tả.
          </p>
          <p class="text-muted">Lượt xem (74)</p>
        </div>
      </div>
    </div>
  </div>
</div>
