<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
  <div class="row">
    <div class="col-sm-12 col-md-6"></div>
    <div class="col-sm-12 col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="pb-3">
        <a class="btn btn-success" [routerLink]="'add'">Thêm mới</a>
      </div>
      <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
        aria-describedby="example2_info">
        <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending"
              aria-label="Rendering engine: activate to sort column descending">#</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="Browser: activate to sort column ascending">Danh mục</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="Browser: activate to sort column ascending">Tên sản phẩm</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="Platform(s): activate to sort column ascending">Giá sản phẩm</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="Engine version: activate to sort column ascending">ảnh sản phẩm</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="CSS grade: activate to sort column ascending">Số lượng</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
              aria-label="CSS grade: activate to sort column ascending">Thao tác</th>
          </tr>
        </thead>
        <tbody>

          <tr role="row" class="even"
            *ngFor="let item of product | paginate: { itemsPerPage: listPage, currentPage: page, totalItems: totalLength } ; index as i">
            <td class="sorting_1">{{i+1}}</td>
            <td>{{item.category_id }}</td>
            <td>{{item.name}}</td>
            <td>{{item.price|currency}}</td>
            <td><img src="{{item.images}}" width="100" height="100" srcset=""></td>
            <td>{{item.quantity}}</td>
            <td>
              <a class="p-3 text-success" [routerLink]="'edit/'+item.id" style="cursor: pointer;"><i class="fa fa-edit"
                  aria-hidden="true"></i></a>
              <a (click)="remove(item.id)" class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"
                  aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="row">
    <ul class="pagination justify-content-end pt-3">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </ul>
  </div>
</div>
