<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a [routerLink]="'/san-pham'" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have {{items.length}} items in your cart</p>
                  </div>
                  <div>
                  </div>
                </div>
                <table class="table card">
                  <tbody>

                    <tr *ngFor="let item of items;index as i">
                      <td scope="row card-body">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img [src]="item.images" class="img-fluid rounded-3" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{item.name}}</h5>
                            <p class="small mb-0">{{item.size}}, {{item.color}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-row align-items-center">
                          <div class="col-auto p-4">
                            <li class="list-inline-item text-right">
                              <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                            </li>
                            <li class="list-inline-item"><button type="button" (click)="decreaseQuantity(item)"
                                class="btn btn-success" id="btn-minus"><i class="fa fa-minus"
                                  aria-hidden="true"></i></button></li>
                            <li class="list-inline-item"><span class="badge bg-secondary"
                                id="var-value">{{item.quantity}}</span></li>
                            <li class="list-inline-item"><button type="button" (click)="increaseQuantity(item)"
                                class="btn btn-success" id="btn-plus"><i class="fa fa-plus"
                                  aria-hidden="true"></i></button>
                            </li>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">{{item.price | currency}}</h5>
                          </div>
                          <div class="p-4">
                            <a (click)="removeCart(item)" [routerLink]="" style="color: #cecece; cursor: pointer;"><i
                                class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-lg-5">

                <div class="card  rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h3 class="mb-0">THANH TOÁN</h3>

                    </div>

                    <p class="small mb-2 text-danger">Lưu ý (Điền đúng thông tin để nhận hàng)</p>
                    <form class="mt-4" [formGroup]="formOrder">
                      <div class=" form-outline form-white mb-4">
                        <input
                          [ngClass]="{'is-invalid': formOrder.controls['name'].invalid &&(formOrder.controls['name'].touched || formOrder.controls['name'].dirty)}"
                          formControlName="name" type="text" id="typeName" class="form-control form-control-lg"
                          siez="17" placeholder="Họ và tên" />
                        <div
                          *ngIf="formOrder.controls['name'].invalid &&(formOrder.controls['name'].touched || formOrder.controls['name'].dirty)"
                          class="invalid-feedback">
                          <div>Vui lòng nhập họ tên</div>
                        </div>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input
                          [ngClass]="{'is-invalid': formOrder.controls['phone'].invalid &&(formOrder.controls['phone'].touched || formOrder.controls['phone'].dirty)}"
                          formControlName="phone" type="number" id="typeText" class="form-control form-control-lg"
                          siez="17" placeholder="Số điện thoại (+84 xxx xxx xxx)" />
                        <div
                          *ngIf="formOrder.controls['phone'].invalid &&(formOrder.controls['phone'].touched || formOrder.controls['phone'].dirty)"
                          class="invalid-feedback">
                          <div *ngIf="formOrder.controls['phone'].errors?.['required']">Vui
                            lòng nhập số điện thoại</div>
                          <div *ngIf="formOrder.controls['phone'].errors?.['pattern']">Số điện thoại không đúng định
                            dạng</div>
                        </div>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input
                          [ngClass]="{'is-invalid': formOrder.controls['email'].invalid &&(formOrder.controls['email'].touched || formOrder.controls['email'].dirty)}"
                          formControlName="email" type="text" id="typeText" class="form-control form-control-lg"
                          siez="17" placeholder="Email" />
                        <div
                          *ngIf="formOrder.controls['email'].invalid &&(formOrder.controls['email'].touched || formOrder.controls['email'].dirty)"
                          class="invalid-feedback">
                          <div *ngIf="formOrder.controls['email'].errors?.['required']">Vui
                            lòng nhập Email</div>
                          <div *ngIf="formOrder.controls['email'].errors?.['email']">Email không đúng định
                            dạng</div>
                        </div>
                      </div>

                      <div class="row mb-4">
                        <div class="col-md">
                          <div class="form-outline form-white">
                            <input
                              [ngClass]="{'is-invalid': formOrder.controls['address'].invalid &&(formOrder.controls['address'].touched || formOrder.controls['address'].dirty)}"
                              formControlName="address" type="text" id="typeExp" class="form-control form-control-lg"
                              placeholder="Địa chỉ" size="7" id="exp" />
                            <div
                              *ngIf="formOrder.controls['address'].invalid &&(formOrder.controls['address'].touched || formOrder.controls['address'].dirty)"
                              class="invalid-feedback">
                              <div>Vui lòng nhập địa chỉ</div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <textarea name="" id="" cols="25" rows="3" placeholder="Ghi chú (Nếu có)"></textarea>

                        </div>
                      </div>
                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Tổng tiền</p>
                      <p class="mb-2">{{totalPrice | currency}}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Phí vận chuyển</p>
                      <p class="mb-2">0 đ</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Thành tiền</p>
                      <p class="mb-2">{{totalPrice | currency}}</p>
                    </div>

                    <button (click)="formOrder.valid && payMen()" [disabled]="formOrder.invalid"
                      class="btn btn-info btn-block btn-lg col-5">
                      <div class="d-flex justify-content-between">
                        <span>Đặt hàng <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
