<section class="bg-light">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_10.jpg" alt="Card image cap"
            id="product-detail">
        </div>
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <!--End Controls-->
          <!--Start Carousel Wrapper-->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <!--Start Slides-->
            <div class="carousel-inner product-links-wap" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_01.jpg"
                        alt="Product Image 1">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_02.jpg"
                        alt="Product Image 2">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_03.jpg"
                        alt="Product Image 3">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_04.jpg"
                        alt="Product Image 4">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_05.jpg"
                        alt="Product Image 5">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_06.jpg"
                        alt="Product Image 6">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_07.jpg"
                        alt="Product Image 7">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_08.jpg"
                        alt="Product Image 8">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="/assets/themes/client/img/product_single_09.jpg"
                        alt="Product Image 9">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.Third slide-->
            </div>
            <!--End Slides-->
          </div>
          <!--End Carousel Wrapper-->
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
      <!-- col end -->
      <div class="col-lg-7 mt-5">
        <form (onsubmit)="addToCart()" [formGroup]="dataForm">
          <div class="card">
            <div class="card-body">
              <h1 class="h2">{{product.name}}</h1>
              <p class="h3 py-2">{{product.price |currency}}</p>
              <p class="py-2">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-secondary"></i>
                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
              </p>


              <h6>Mô tả:</h6>
              <p>{{product.description}}</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <h6>Màu sắc :</h6>
                </li>
                <li class="list-inline-item">
                  <select class="form-control" formControlName="color" id="">
                    <option value="1">Red</option>
                    <option value="2">White</option>
                    <option value="3">Black</option>
                    <option value="4">Orange</option>
                  </select>
                </li>

              </ul>
              <input type="hidden" name="product-title" value="Activewear">
              <div class="row">
                <div class="col-auto">
                  Size:
                  <ng-container *ngFor="let item of formSize;index as i">
                    <li class="list-inline-item pb-4"><label
                        class=" {{valueColorSize === item ? 'btn btn-secondary' : 'btn btn-success '}}"
                        for="size{{i}}">{{formText[i]}}</label>
                    </li>
                    <input value="{{formText[i]}}" type="radio" formControlName="size" class="d-none" id="size{{i}}"
                      name="size" (change)="select_size(item)">
                  </ng-container>
                </div>
                <div class="col-auto">
                  <ul class="list-inline pb-3">
                    <li class="list-inline-item text-right">
                      Số lượng
                      <input type="number" formControlName="quantity" id="product-quanity" value="{{qnt}}">
                    </li>
                    <li class="list-inline-item"><span (change)="increaseQuantity()" class="btn btn-success"
                        id="btn-minus"><i class="fa fa-minus" aria-hidden="true"></i></span></li>
                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                    <li class="list-inline-item"><span (change)="decreaseQuantity()" class="btn btn-success"
                        id="btn-plus"><i class="fa fa-plus" aria-hidden="true"></i></span></li>
                  </ul>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col d-grid">
                  <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                </div>
                <div class="col d-grid">
                  <button (click)="addToCart()" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To
                    Cart</button>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
