<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://media3.scdn.vn/img4/2021/07_31/mFzVEty2RzevZPSQD4I7.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Mini</b> Shop</h1>
              <h3 class="h2">Là nơi lựa chọn tốt nhất</h3>
              <p>
                Mini shop - Shop thời trang trực tuyến xuất phát từ ý tưởng mang đến cái đẹp hoàn mỹ - Mua sắm dễ dàng
                tiện lợi
                cho người tiêu dùng trên toàn quốc

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button"
    data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button"
    data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Danh mục</h1>
      <p>
        Các danh mục sản phẩm đang được ưa thích nhất hiện nay.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://media3.scdn.vn/img4/2021/07_31/VnLg03Cqr8oKet8FbiGq.png"
          class="rounded-circle img-fluid border"></a>
      <h5 class="text-center mt-3 mb-3">Áo phông</h5>
      <p class="text-center"><a [routerLink]="'san-pham'" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img
          src="https://product.hstatic.net/1000292465/product/49755931_744532979266457_5878859644587212800_n_master.jpg"
          class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Áo khoắc</h2>
      <p class="text-center"><a [routerLink]="'san-pham'" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="https://cf.shopee.vn/file/359ee45747db9a8d9ec42ed0b6d5fbf9"
          class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Áo polo</h2>
      <p class="text-center"><a [routerLink]="'san-pham'" class="btn btn-success">Go Shop</a></p>
    </div>
  </div>
</section>
<!-- End Categories of The Month -->
<section class="bg-light">
  <app-about></app-about>
</section>
